.repo-list{
    width: 100px;
    margin: 25px 35px 25px 0px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 1px solid #efefef;
    box-shadow: 0 0 20px -5px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.repo-list .repo-list-column{
    padding: 6px 0px;
}

.repo-list:hover{
    transform: scale(1.02);
    transition: all 0.4s;
}

.repo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.repo-container > * {
    flex-basis: 30%;
}

.repo-list-column{
    display: flex;
    flex-wrap: wrap;
}

.repo-list-column .columns-img{
    flex: 0 0 auto;
    width: 30%;
}

.repo-img{
    border-radius: 50%;
    width: 55%;
    border: 1px solid #e7e7e7;
    margin-top: 2rem;
    background: #e7e7e7;
}

.external-link{
    text-decoration: none;
    color: black;
}

.description{
    float: left;
}

.details{
    margin-bottom: 20px;
    margin-top: -4px;
    text-align: left;
    color: #979797;
}

.username{
    text-align: left;
    font-size: 25px;
    max-width: 20rem;
}

.language{
    margin-bottom: 20px;
    margin-top: -4px;
    text-align: left;
    color: #000000;
    font-weight: 600;
    font-style: italic;
}

@media only screen and (max-width: 1268px) {
    .repo-container > * {
        flex-basis: 45%;
    }
}

@media only screen and (max-width: 825px) {
    .repo-container > * {
        flex-basis: 100%;
    }
}